@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body{
    font-size: 100%;
    background: #5a2e06;
    max-width: 1350px;
    margin: 0 auto;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    
}

.cabecalho-menu-item-2 {
    display: flex;
    gap: 25px;
}

.item-1 {
    font-family: 'Dancing Script', cursive;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 35px;
    line-height: 80px;
    text-decoration-line: underline;
}

.item-2 {
    font-family: 'Dancing Script', cursive;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 35px;
    line-height: 80px;
    text-decoration-line: underline;
}

.imagem-fundo{
    max-width: 1350px;
    float: left;
    position: relative;
}

.conteudo-principal{
    position: absolute;
    margin-top: 500px;
    margin-left: 400px;
}
.conteudo-principal-escrito{
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 80px;
    background-clip: text;
    background-color: linear-gradient(270.32deg, rgba(123, 81, 18, 0) -105.37%, rgba(134, 88, 18, 0.832406) -105.35%, #BB6B32 -105.33%, #BB6B32 -69.73%);
    text-emphasis-color: transparent;
    background-blend-mode: lighten;
}